= semantic_form_for(@moderador) do |f|
 = f.input :nome, :label => 'Nome'
 = f.input :sobrenome, :label => 'Sobrenome'
 = f.input :senha, :label => 'Senha'
 = f.input :pais, :label => 'Pais'
 = f.input :cidade, :label => 'Cidade'
 = f.input :genero, :label => 'Genero'
 = f.input :data_nasc, :label => 'Data_Nasc'
 = f.input :cpf, :label => 'CPF'
 = f.input :rg, :label => 'RG'
 = f.input :email, :label => 'e-mail'
 
 = f.submit 'Salvar'
