<h1>Listing vitaminas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Beneficio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vitaminas.each do |vitamina| %>
  <tr>
    <td><%= vitamina.nome %></td>
    <td><%= vitamina.beneficio %></td>
    <td><%= link_to 'Show', vitamina %></td>
    <td><%= link_to 'Edit', edit_vitamina_path(vitamina) %></td>
    <td><%= link_to 'Excluir', vitamina, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vitamina', new_vitamina_path %>
